body{
  
    font-family: Roboto, Arial, sans-serif;
   
}
.menu{
    overflow-y: scroll;
    width: 240px;
    left: 0;
    bottom: 0;
    background-color:white;
    position:fixed;
    top:56px;
}
.menu-top{
    margin-left:12px ;
    display: flex;
   
}
#tin{
   
    margin-top: 13px;
}

.home{
    height: 40px;
    width: 191px;
    background-color: rgb(255, 255, 255);
    margin:0;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 12px;
}
p{
    margin: 0px 0px 0px 24px;
    font-size: 16px;
    text-decoration: none;
    color: #0f0f0f;
    font-weight: 400;

}
.ton{
    margin-top: 5px;
}
.pok{
padding-left: 0px;
padding-right: 10px;
}
#you{
    margin-left: 15px;
    font-weight: 500;
}
.acci{
    border-radius: 53px;
    width: 32px;
    height: 32px;
    margin-right: 0px;
}
h1{
    font-family:  Roboto, Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: #606060;
}
h2{
    font-family:  Roboto, Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #909090;
}
